---
import { loadNotes } from '../../scripts/loadNotes'
import { paginatePosts } from '../../scripts/paginatePosts'
import BaseLayout from "../../layouts/BaseLayout.astro"
import LogbooksPost from "../../components/LogbooksPost.astro";
import Pagination from "../../components/Pagination.astro"

const pageTitle = 'Recent Logbooks'

export const prerender = true;

export async function getStaticPaths() {
  const allPosts = loadNotes();
  const postsPerPage = 10;
  
  const { totalPages } = paginatePosts(allPosts, 'logbooks', 1, postsPerPage);

  // Generate paths for each page
  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}

const currentPage = parseInt(Astro.params.page || "1", 10);
const postsPerPage = 10;
const allPosts = loadNotes();

// Use pagination utility
const { paginatedPosts, totalPages, inProgress } = paginatePosts(allPosts, 'logbooks', currentPage, postsPerPage);
---

<BaseLayout lang="ko" pageTitle={ pageTitle }>
    <div class="blog-post-container">
        <figure>
            <figcaption>In progress</figcaption>
            {inProgress.map((post) =>
                <LogbooksPost
                    url={post.url}
                    title={post.alias}
                    tags={post.tags}
                    date={post.date.toString().slice(0,10)}
                    thumbnailUrl={post.thumbnail}
                    alt={post.alt || "Default alt text"}
                />
            )}
        </figure>
        <figure>
            <figcaption>Finished</figcaption>
            {paginatedPosts.map((post) =>
                <LogbooksPost
                    url={post.url}
                    title={post.alias}
                    tags={post.tags}
                    date={post.date.toString().slice(0,10)}
                    thumbnailUrl={post.thumbnail}
                    alt={post.alt || "Default alt text"}
                />
            )}
            <Pagination
            type="logbooks"
            currentPage={currentPage}
            totalPages={totalPages}
          />
        </figure>
    </div>
</BaseLayout>