---
import { loadNotes } from '../scripts/loadNotes.js'
import BaseLayout from "../layouts/BaseLayout.astro"
import Newsletter from "../components/Newsletter"

import NotesPost from "../components/NotesPost.astro"
import LogbooksPost from "../components/LogbooksPost.astro"
import WorksPost from "../components/WorksPost.astro"

const pageTitle = 'solmee.xyz: Home'

const allPosts = loadNotes();
const findNote = (url) => allPosts.find((post) => post.title === url);

const note1 = findNote('Obsidian Digital Garden');
const note2 = findNote('solmee.xyz');
const note3 = findNote('Obsidian theme Agate');

const note4 = findNote('Obsidian을 시작한 이유');
const note5 = findNote('comixtura code');
---

<BaseLayout lang="ko" pageTitle={pageTitle}>
	<section class="getting-started-section">
		<figure>
			<figcaption>Featured Notes</figcaption>
			<div class="blog-post-container">
				<NotesPost
					url={note4.url}
					title={note4.title}
					tags={note4.tags}
					date={note4.date.toString().slice(0,10)}
					thumbnailUrl={note4.thumbnail}
					alt={note4.alt || "Default alt text"}
				/>
				<LogbooksPost
					url={note3.url}
					title={note3.title}
					tags={note3.tags}
					date={note3.date.toString().slice(0,10)}
					thumbnailUrl={note3.thumbnail}
					alt={note3.alt || "Default alt text"}
				/>
				<LogbooksPost
					url={note5.url}
					title={note5.title}
					tags={note5.tags}
					date={note5.date.toString().slice(0,10)}
					thumbnailUrl={note5.thumbnail}
					alt={note5.alt || "Default alt text"}
				/>
			</div>
		</figure>
	</section>

	<section class="getting-started-section">
		<details>
			<summary><h2>About Site</h2></summary>
			<section>
				<p>이 웹사이트는 <a class="me internal" href="#aboutMe">나</a>의 개인 웹사이트이다.</p>
				<p>일상의 기록을 장기적으로 의미 있게 하기 위한 시스템이다. 크게 <a class="me internal" href="#noteTypes">세 가지 종류</a>의 기록이 저장된다.</p>
				<p>시스템의 설계는 다음 개념들에 영향을 받았다.</p>
				<ul>
					<li><a href="https://en.wikipedia.org/wiki/Zettelkasten">Zettelkasten</a> 노트들은 위계 없이 서로 연결된 구조를 갖는다.</li>
					<li><a href="https://maggieappleton.com/garden-history">Digital Garden</a> 완벽하게 다듬어지지 않은 생각일지라도 공개된 상태로 발전시킨다.</li>
					<li><a href="https://indieweb.org/principles#Key_Principles">IndieWeb Principles</a> 나에게 필요한 것을 직접 만들어 사용한다.</li>
				</ul>
				<details>
					<summary id="noteTypes"><h3>Note Types</h3></summary>
					<section>
						<p>모든 노트는 다음 중 하나의 타입에 속한다.
							<ul>
								<li><code>Journal</code> 일반적인 기록</li>
								<li><code>Logbook</code> 프로젝트 과정 기록</li>
								<li><code>Work</code> 프로젝트 결과물 전시</li>
							</ul>
						</p>
					</section>
				</details>
				<details>
					<summary><h3>Navigation</h3></summary>
					<section>
						<p>이 웹사이트는 세 가지 방법으로 탐색할 수 있다.
							<ul>
								<li>세 페이지<code>Journals</code>, <code>Logbooks</code>, <code>Works</code>는 각 타입의 노트들을 생성일 기준으로 나열한다.</li>
								<li>
									<code>
										<svg width="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14">
											<path class="light" d="m15,14.11l-4.89-4.89c.64-.82,1.02-1.85,1.02-2.96,0-2.67-2.17-4.84-4.84-4.84S1.45,3.59,1.45,6.25s2.17,4.84,4.84,4.84c1.18,0,2.26-.42,3.1-1.13l4.88,4.88.74-.74ZM2.6,6.25c0-2.04,1.66-3.69,3.69-3.69s3.69,1.66,3.69,3.69-1.66,3.69-3.69,3.69-3.69-1.66-3.69-3.69Z""/>
											<path class="dark" d="m15,14.11l-4.89-4.89c.64-.82,1.02-1.85,1.02-2.96,0-2.67-2.17-4.84-4.84-4.84S1.45,3.59,1.45,6.25s2.17,4.84,4.84,4.84c1.18,0,2.26-.42,3.1-1.13l4.88,4.88.74-.74ZM2.6,6.25c0-2.04,1.66-3.69,3.69-3.69s3.69,1.66,3.69,3.69-1.66,3.69-3.69,3.69-3.69-1.66-3.69-3.69Z""/>
										</svg>
										Search
									</code>
									는 노트의 내부 텍스트를 검색한다.</li>
								<li>그래프
									<code><svg width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 -9 24 24">
										<polygon class="light" points="2.5,3.2 5.7,6.4 6.4,5.7 3.2,2.5 6,2.5 6,1.5 2,1.5 1.5,2 1.5,6 2.5,6 	"/>
										<polygon class="light" points="6.4,10.3 5.7,9.6 2.5,12.8 2.5,10 1.5,10 1.5,14 2,14.5 6,14.5 6,13.5 3.2,13.5 	"/>
										<polygon class="light" points="13.5,12.8 10.3,9.6 9.6,10.3 12.8,13.5 10,13.5 10,14.5 14,14.5 14.5,14 14.5,10 13.5,10 	"/>
										<polygon class="light" points="14,1.5 10,1.5 10,2.5 12.8,2.5 9.6,5.7 10.3,6.4 13.5,3.2 13.5,6 14.5,6 14.5,2 	"/>
										
										<polygon class="dark" points="2.5,3.2 5.7,6.4 6.4,5.7 3.2,2.5 6,2.5 6,1.5 2,1.5 1.5,2 1.5,6 2.5,6 	"/>
										<polygon class="dark" points="6.4,10.3 5.7,9.6 2.5,12.8 2.5,10 1.5,10 1.5,14 2,14.5 6,14.5 6,13.5 3.2,13.5 	"/>
										<polygon class="dark" points="13.5,12.8 10.3,9.6 9.6,10.3 12.8,13.5 10,13.5 10,14.5 14,14.5 14.5,14 14.5,10 13.5,10 	"/>
										<polygon class="dark" points="14,1.5 10,1.5 10,2.5 12.8,2.5 9.6,5.7 10.3,6.4 13.5,3.2 13.5,6 14.5,6 14.5,2 	"/>
									</svg></code>
									는 노트들 간의 연결을 시각화하고, 태그별로 필터링한다.
									<ul>
										<li>노트 페이지에서 화면 폭을 넓히면 지역 그래프가 나타난다.</li>
										<li>인터랙션이 오작동할 때는 새로고침을 두 번 하면 대부분 고쳐진다.</li>
									</ul>
								</li>
							</ul>
						</p>
					</section>
				</details>
				<details>
					<summary><h3>Documentation</h3></summary>
					<section>
						<div class="blog-post-container">
							<LogbooksPost
								url={note1.url}
								title={note1.aliases[0]}
								tags={note1.tags}
								date={note1.date.toString().slice(0,10)}
								thumbnailUrl={note1.thumbnail}
								alt={note1.alt || "Default alt text"}
							/>
							<LogbooksPost
								url={note2.url}
								title={note2.title}
								tags={note1.tags}
								date={note2.date.toString().slice(0,10)}
								thumbnailUrl={note2.thumbnail}
								alt={note2.alt || "Default alt text"}
							/>
							<LogbooksPost
								url={note3.url}
								title={note3.title}
								tags={note3.tags}
								date={note3.date.toString().slice(0,10)}
								thumbnailUrl={note3.thumbnail}
								alt={note3.alt || "Default alt text"}
							/>
						</div>
					</section>
				</details>
			</section>
		</details>
	</section>

	<section class="getting-started-section">
		<details>
			<summary id="aboutMe"><h2>About Me</h2></summary>
			<section>
				<p>
					<a class="cv-link" href="/cv.pdf" target="_blank" rel="noopener noreferrer">정솔미↗</a>는 이 웹사이트의 <a href="https://justinjackson.ca/webmaster/">웹마스터</a>이자 대한민국 서울 기반의 그래픽 디자이너이다.
				</p>
				<p>
					어린 시절, <a href="https://en.wikipedia.org/wiki/Microsoft_PowerPoint">파워포인트</a> 꾸미기로 <a href="https://edu.gcfglobal.org/en/powerpoint2007/wordart-and-shapes/1/">타이포그래피</a>를 연마하고 <a href="https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4:%EB%8C%80%EB%AC%B8">나무위키</a>를 읽으며 <a href="https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4/%EB%B9%84%ED%8C%90%20%EB%B0%8F%20%EB%AC%B8%EC%A0%9C%EC%A0%90/%EB%AC%B8%EC%84%9C%20%EC%84%9C%EC%88%A0%20%EA%B4%80%EB%A0%A8/%EA%B0%80%EB%8F%85%EC%84%B1#s-9">하이퍼링크</a>의 문법을 익혔다.
				</p>
				<p>
					공식을 잘 마련해 놓으면 엄청난 생산성을 발휘한다는 점에서 서체와 웹을 좋아한다. 이 웹사이트를 통해 그 생산성을 실험해 보고자 한다.
				</p>
				<details>
					<summary><h3>Contact</h3></summary>
					<section>
						<ul>
							<li>
								E-mail <a class="mailto" href="mailto:js5185204@gmail.com?subject=안녕하세요.">js5185204@gmail.com↗</a>
							</li>
							<li>
								Instagram <a href="https://www.instagram.com/s0lrni/">s0lrni</a>
							</li>
							<li>
								GitHub <a href="https://github.com/solm0">solm0</a>
							</li>
						</ul>
					</section>
				</details>
			</section>
		</details>
	</section>

	<section class="getting-started-section">
		<details>
			<summary><h2>Miscellaneous</h2></summary>
			<details>
				<summary><h3>Subscribe</h3></summary>
				<section>
					<ul>
						<li>
							뉴스레터<br />가까운 미래에는 보낼 계획이 없지만 그냥 넣어보았다.
							<Newsletter client:load />
						</li>
						<li>
							<a class="internal rss-link" href="/rss.xml" title="RSS Feed" target="_blank" rel="noopener noreferrer">
								RSS Feed
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 8">
									<path class="light" d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
									<path class="light"d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
									<path class="dark" d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
									<path class="dark"d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
								</svg>
							</a>
						</li>
					</ul>
				</section>
			</details>
			<details>
				<summary><h3>Changelog</h3></summary>
				<section>
					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Changes</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width:150px">2024-12-16</td>
								<td>First release</td>
							</tr>
						</tbody>
					</table>
				</section>
			</details>
		</details>
	</section>
</BaseLayout>

<script src='../scripts/index.js'></script>
<script>
	document.addEventListener("DOMContentLoaded", () => {
    const rssLink = document.querySelector('.rss-link');
	const mailtoLink = document.querySelector('.mailto');
	const cvLink = document.querySelector('.cv-link');

    if (rssLink) {
        rssLink.addEventListener('click', (event) => {
            event.preventDefault(); // Block the click
        });
    }
	if (mailtoLink) {
		mailtoLink.addEventListener('click', (event) => {
			event.preventDefault(); // Block the click
		});
	}
	if (cvLink) {
		cvLink.addEventListener('click', (event) => {
			event.preventDefault(); // Block the click
		});
	}
});
</script>