---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogCard from "../components/BlogCard.astro";
const pageTitle = 'Logbooks'
const allPosts = await Astro.glob('./markdowns/*.md');

const filteredPosts = allPosts
    .filter(post => post.frontmatter.type === 'logbooks' && post.frontmatter.dashboard === true)
    .sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="blog-card-container">
        {filteredPosts.map((post) =>
            <BlogCard
                url={post.url}
                title={post.frontmatter.title}
                tags={post.frontmatter.tags}
                date={post.frontmatter.date.toString().slice(0,10)}
                thumbnailUrl={post.frontmatter.url}
                alt={post.frontmatter.alt}
            />
        )}
    </div>
</BaseLayout>