---
import { loadNotes } from '../scripts/loadNotes'
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogCard from "../components/BlogCard.astro";

const pageTitle = 'Latest works'
const allPosts = loadNotes();

const filteredPosts = allPosts
    .filter(post => post.type === 'works')
    .sort((a, b) => b.year - a.year);
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="blog-card-container">
        {filteredPosts.map((post) =>
            <BlogCard
                url={post.url}
                title={post.title}
                tags={post.tags}
                date={post.year}
                thumbnailUrl={post.thumbnail}
                alt={post.alt || "Default alt text"}
            />
        )}
    </div>
</BaseLayout>