---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogCard from "../components/BlogCard.astro";
const pageTitle = 'Works'
const allPosts = await Astro.glob('./markdowns/*.md');

let filteredPosts = allPosts
    .filter(post => post.frontmatter.type === 'works')
    .sort((a, b) => b.frontmatter.year - a.frontmatter.year);
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="blog-card-container">
        {filteredPosts.map((post) =>
            <BlogCard
                url={post.url}
                title={post.frontmatter.title}
                tags={post.frontmatter.tags}
                date={post.frontmatter.year}
                thumbnailUrl={post.frontmatter.url}
                alt={post.frontmatter.alt}
            />
        )}
    </div>
</BaseLayout>