---
const { url, title, tags, date, thumbnailUrl, alt } = Astro.props;
import NoteTagButton from "./NoteTagButton";
---

<div class="blog-card">
    <a class="blog-post" href={url}>
        {thumbnailUrl && <img class="blog-card" src={thumbnailUrl} alt={alt} />}
        {title}
    </a>
        {tags &&
            <div class="tag-button-container">
                {tags.map((tag) => <NoteTagButton client:only tag={tag}/>)}
            </div>
        }
        <p class="frontmatter" class="blog-post">{date}</p>

</div>