---
const { url, title, tags, date, thumbnailUrl, alt } = Astro.props;
---

<div class="blog-post works">
    <a href={url}>
        {thumbnailUrl ?
            <img class="works-thumbnail" src={thumbnailUrl} alt={alt} />
        :
            null}
        <div>
            <p class="blog-post-title">{title}</p>
            <div class="blog-post-frontmatter">
                {tags &&
                    <div class="tag-container">
                        {tags.map((tag) => <div class="tag">{tag}</div> )}
                    </div>
                }
            </div>
        </div>
    </a>
</div>