---
const { url, title, tags, date, thumbnailUrl, alt } = Astro.props;
---

<div class="blog-post works">
    <a href={url}>
        <div class="thumbnail-container">
            {thumbnailUrl ?
                <img class="works-thumbnail" src={thumbnailUrl} alt={alt} />
            :
                null}
        </div>
        <div>
            <p class="blog-post-title">{title}</p>
            <div class="blog-post-frontmatter">
                <p class="frontmatter" class="blog-post">{date}</p>
                {tags &&
                    <div class="tag-container">
                        {tags.map((tag) => <div class="tag">{tag}</div> )}
                    </div>
                }
            </div>
        </div>
    </a>
</div>