---
import BaseLayout from "./BaseLayout.astro";
import SequenceNav from "../components/SequenceNav.astro";
 
const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle = {frontmatter.title}>
    <div class="frontmatter-container">
        <p class="frontmatter">created on {frontmatter.date.toString().slice(0,10)}</p>
        <div class="tag-container">
            {frontmatter.tags.map((tag) => 
                <div class="tag">{tag}</div>
            )}
        </div>
    </div>
    <slot />
    <SequenceNav projectId={frontmatter.projectId} sequence={frontmatter.sequence} /> 
</BaseLayout>