---
import BaseLayout from "./BaseLayout.astro";
import TagButton from "../components/TagButton.astro";
import LocalGraph from "../components/LocalGraph.astro";

const {frontmatter} = Astro.props;

---
<BaseLayout pageTitle = {frontmatter.title}>
    <div class="frontmatter-container">
        <div class="tag-button-container">{frontmatter.tags.map((tag) => <TagButton tag={tag} url={`/tags/${tag}`}/>)}</div>
        <p class="frontmatter">year: {frontmatter.date}</p>
        <p class="description">{frontmatter.description}</p>
    </div>
    <slot />
    <LocalGraph />
</BaseLayout>