---
import BaseLayout from "./BaseLayout.astro";
import LocalGraphContainer from "../components/LocalGraphContainer.astro";

const {frontmatter} = Astro.props;

---
<BaseLayout pageTitle = {frontmatter.title}>
    <div class="frontmatter-container">
        <div class="tag-container">
            {frontmatter.tags.map((tag) => 
                <div class="tag">{tag}</div>
            )}
        </div>
        <p class="frontmatter">year: {frontmatter.date}</p>
        <p class="description">{frontmatter.description}</p>
    </div>
    <slot />
    <LocalGraphContainer />
</BaseLayout>