---
import BaseLayout from "./BaseLayout.astro";
import MarkdownImage from "../components/MarkdownImage.astro";

const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle = {frontmatter.title}>
    <div data-layout="works" class="frontmatter-container">
        <div class="tag-container">
            {frontmatter.tags.map((tag) => 
                 <div className={`tag ${tag === 'error' ? 'error' : ''}`}>{tag}</div>
            )}
        </div>
        <p class="frontmatter">year: {frontmatter.date}</p>
        <p class="description">{frontmatter.description}</p>
    </div>
    <hr />
    <div class="works-container">
        <slot components = {{ img: MarkdownImage }} />
    </div>
</BaseLayout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Check if this page uses WorksLayout
        const isWorksLayout = document.querySelector('[data-layout="works"]');
        if (isWorksLayout) {
            const gridItemRight = document.querySelector('div#gridItemRight aside');
            if (gridItemRight) {
                gridItemRight.style.position = 'relative';
            }
        } else {
            console.log('WorksLayout not detected. Skipping script execution.');
        }
    });
</script>