---
import BaseLayout from "./BaseLayout.astro";
import TagButton from "../components/TagButton.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout pageTitle = {frontmatter.title}>
    <div class="tag-button-container">{frontmatter.tags.map((tag) => <TagButton tag={tag} url={`/tags/${tag}`}/>)}</div>
    <p class="frontmatter">type: {frontmatter.type}</p>
    <slot />
</BaseLayout>